doctype html
html
    head
        meta(charset="utf-8")
        title GitHub Game Off 2016
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Comfortaa|Source+Code+Pro")
        link(rel="stylesheet", href="./main.css")
    body
        #blocker
            #notice-container
                #notice
                    h1 Paused
                    p click to resume
        #game-container
        script(src="./phaser.js")
        
        script(src="./main.js", async)